{{ partial "head.html" . }}
{{ partial "header.html" . }}
<main>
    <section id="sectionUneArticle">
        <div class="imgThumbnail">
            <img src="{{ with .Params.image }}{{ . }}{{ end }}" />
        </div>
        <div id="infosTitreArticle">
            <p class="pink"><time datetime="{{.Date}}">{{ .Date.Format "02/01/2006" }}</time>|
                {{ $taxonomy := "categories" }}{{ with .Param $taxonomy }}{{ . }}{{ end }}</p>
            <h2>{{.Title}}</h2>
        </div>
        <div class="contenuArticle">
            <p>{{.Content}}</p>
        </div>

    </section>
    <section id="sectionDeuxArticle">
        <h2 class="centrerElement">EGALEMENT SUR LE BLOG</h2>
        <div class="conteneurArticleSimilaire">
            {{ range (shuffle (where .Site.Pages "Type" "article") | first 2 ) }}
            <div class="divArticleSimilaire">
                <img class="imgArticleSimilaire" src="{{ with .Params.image }}{{ . }}{{ end }}" alt="">
                <p class="pink"><time
                        datetime="{{.Date}}">{{ .Date.Format "02/01/2006" }}</time><br>{{ $taxonomy := "categories" }}{{ with .Param $taxonomy }}{{ . }}{{ end }}
                </p>
                <h2>{{ .Title }}</h2>
                <a href="{{ .RelPermalink }}">Lire l'article</a>
            </div>
            {{ end }}
        </div>
    </section>

</main>
{{ partial "footer.html" .}}