{{ partial "head.html" . }}
{{ partial "header.html" . }}

<main>


    <section id=sectionUne>
        <!-- ORDRE D'AFFICHAGE DU PLUS RECENT AU PLUS ANCIEN EN FONCTION DE LA DATE INDIQUE DANS CHAQUE ARTICLE -->
        <!-- TOUT EST CONSIDERE COMMES DES PAGES DANS HUGO .Pages -->
        <!-- AFFICHAGE DES PAGES DONT LE TYPE EST EGAL A ARTICLE -->
        {{ range first 1 (where .Pages.ByPublishDate.Reverse "Type" "article")}}
        <div class="articleSolo">
            <div class="divImgArticleSolo">
                <img class="imgArticleSolo" src="{{ with .Params.image }}{{ . }}{{ end }}">
            </div>
            <div class="divInfosArticleSolo">
                <a href="{{ .RelPermalink }}">
                    <div class="divCercleArticleSolo">
                        <p>LIRE L'ARTICLE</p>
                    </div>
                </a>
                <div class="infosArticleSolo">
                    <p class="pink"><time datetime="{{.Date}}">{{ .Date.Format "02/01/2006" }}</time>|
                        {{ $taxonomy := "categories" }}{{ with .Param $taxonomy }}{{ . }}{{ end }}</p>
                </div>

                <div class="divTitreArticleSolo">
                    <h2 class="titreArticleSoloMobile">{{ .Title }}</h2>
                </div>
            </div>
        </div>
        {{end}}
        <div class="articleTrio">
            <!-- J'AFFICHE LES 3 PREMIERS ARTICLES APRES LE PREMIER -->
            {{ range first 3 (after 1 (where .Data.Pages "Type" "article")) }}
            <div class="divArticleTrio">
                <div class="divImgArticleTrio">
                    <img class="imgArticleTrio" src="{{ with .Params.image }}{{ . }}{{ end }}" alt="">
                </div>
                <div class="infosArticleTrio">
                    <p class="pink"><time
                            datetime="{{.Date}}">{{ .Date.Format "02/01/2006" }}</time><br>{{ $taxonomy := "categories" }}{{ with .Param $taxonomy }}{{ . }}{{ end }}
                    </p>
                    <h2>{{ .Title }}</h2>
                    <a href="{{ .RelPermalink }}">Lire l'article</a>
                </div>
            </div>
            {{ end }}
        </div>
        <div class="articleDuo">
            <!-- J'AFFICHE LES 2 PREMIERS ARTICLES APRES LE QUATRIEME -->
            {{ range first 2 (after 4 (where .Data.Pages "Type" "article")) }}
            <div class="divArticleDuoOrdi">
                <div class="divImgArticleDuo">
                    <img class="imgArticleDuo" src="{{ with .Params.image }}{{ . }}{{ end }}" alt="">
                </div>
                <div class="divInfosArticleDuo">
                    <a href="{{ .RelPermalink }}">
                        <div class="divCercleArticleDuo">
                            <p>LIRE L'ARTICLE</p>
                        </div>
                    </a>
                    <div class="infosArticleDuo">
                        <p class="pink"><time datetime="{{.Date}}">{{ .Date.Format "02/01/2006" }}</time> |
                            {{ $taxonomy := "categories" }}{{ with .Param $taxonomy }}{{ . }}{{ end }}
                        </p>
                    </div>
                    <div class="divTitreArticleDuo">
                        <h2 class="titreArticleDuoMobile">{{ .Title }}</h2>
                    </div>
                </div>
            </div>
            {{ end }}
        </div>
        <div class="articleTrio">
            {{ range first 3 (after 6 (where .Data.Pages "Type" "article")) }}
            <div class="divArticleTrio">
                <div class="divImgArticleTrio">
                    <img class="imgArticleTrio" src="{{ with .Params.image }}{{ . }}{{ end }}" alt="">
                </div>
                <div class="infosArticleTrio">
                    <p class="pink"><time
                            datetime="{{.Date}}">{{ .Date.Format "02/01/2006" }}</time><br>{{ $taxonomy := "categories" }}{{ with .Param $taxonomy }}{{ . }}{{ end }}
                    </p>
                    <h2>{{ .Title }}</h2>
                    <a href="{{ .RelPermalink }}">Lire l'article</a>
                </div>
            </div>
            {{ end }}
        </div>
    </section>
    <section id="sectionDeux">
        <a href="{{ "articles/" | absURL }}" id="btnPlusArticles" class="btn-cta">Charger plus d'articles</a>
    </section>
</main>

{{ partial "footer.html" .}}